body {
    display: flex;
    min-height: 100vh;
    background-color: hsl(233,47%,7%);
    font-size: 15px;
    font-family: 'Inter';
    justify-content: center;
    align-items: center;
}

main {
    padding: 5%
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    max-width: 960px;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
}

.textcontainer {
    background-color: hsl(244,38%,16%);
    max-width: 50%;
    min-width: 400px;
    padding: 5% 10% 5% 5%;
}

.textcontainer__tittle {
    color: hsl(0,0%,100%);
}

.textcontainer__tittle spam {
    color: hsl(277,64%,61%);
}

.textcontainer__paragraph {
    margin-top: 2%;
    font-size: 13px;
    color: hsla(0,0%,100%,0.75);
}

.textcontainer__stats {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10%;
}

.stats {
    margin-right: 18%;
    margin-top: 5%;
}

.stats__queries {
    margin-top: 5%;
}

.stats__data {
    font-size: 20px;
    color: hsl(0,0%,100%);
}

.stats__name {
    margin-top: 5%;
    font-size: 10px;
    color: hsla(0,0%,100%,0.75);
}

.imagecontainer {
    background-color: hsl(277,64%,61%);
    max-width: 50%;
    min-width: 400px;
}

.imagecontainer img {
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

@media only screen and (max-width: 888px) {
    .container {
        max-width: 400px;
    }

    .textcontainer {
        text-align: center;
    }

    .stats {
        margin-right: 0;
    }

    .textcontainer__stats {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}